table {
    border: thick;
    margin-left:auto;
    margin-right:auto;
}

.newGame_btn {
    margin-left:46%;
}

table,td {
    border: 1px solid black;
    margin-top: 15px;
    background-color:white;
    border-collapse: collapse;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
}

td:hover{
   background-color: lightskyblue;
}

td.selected{
    background-color: lightskyblue;
}

table{
    table-layout: fixed;
}

.rightThick{
    border-right-style: solid;
    border-right-width: thick;
}

.bottomThick{
    border-bottom-style: solid;
    border-bottom-width: thick;
}